@cBackground: #1a2b3c;
@cBackground2: #034453;
@cBackground3: #045a6e;
@cBackground4: #27877c;
@cForeground: #fbfbd2;
@cForeground2: #e4c199;
@cAccent: #de654a;
@cAccent2: #fd782b;
@cDisabled: #4f4343;
@cMuted: #c49c88;

@sizeWater: 60%;
@sizeScenery: 40%;

@ffTypography: "unscii", sans-serif;
@ffHeading: "unscii-tall", sans-serif;
