// Colors @c
@cBaseOne: #FAFAFA;
@cBaseTwo: #EBEEF2;
@cBaseThree: #022E40;
@cBaseFour: #D94E67;
@cBaseFive: #8C2B3D;

@background:rgba(167, 167, 164, 0.356);
@buttonColor: #3498db;
@cBasePlayer:#16a91f;
@cBorderPlayer:#089a5b;
@cBaseUi:#cfcfcf;
@cBorderUi: #646464;
@cBaseCoin:#1573c0;
@cBorderCoin:#1573c0;
@cBaseWorld:antiquewhite;
@cBaseEnemy:#fd0000;
@cBorderEnemy: #490505;
@cBaseBull:#8997c7;
@cBorderColor: #232a94;

// Sizes @size
@sizeBorderDefault: 1px;

@ffOne: "Jost", sans-serif;
@ffTwo: "Brygada 1918", sans-serif;
