h1 {
  font-size: 80px;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 65px;
  }
}
@media screen and (max-width: 503px) {
  h1 {
    font-size: 35px;
  }
}
@media screen and (max-width: 335px) {
  h1 {
    font-size: 25px;
  }
}
